<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245914638583-5sia8r7o5cfvfm80ub0oshil0m187qq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245914638583-5sia8r7o5cfvfm80ub0oshil0m187qq5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>245914638583-ft3srub52i29glrte1du2dogut3j3r4k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgmyLL5UoS0Ii4rT9wLdWY8Dt7mgsxneg</string>
	<key>GCM_SENDER_ID</key>
	<string>245914638583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byme.app</string>
	<key>PROJECT_ID</key>
	<string>byme-1197b</string>
	<key>STORAGE_BUCKET</key>
	<string>byme-1197b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245914638583:ios:aa114b3b673c1f9e5d9bf2</string>
</dict>
</plist>