<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>245914638583-5sia8r7o5cfvfm80ub0oshil0m187qq5.apps.googleusercontent.com</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.byme.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.245914638583-5sia8r7o5cfvfm80ub0oshil0m187qq5</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
